<div class="danger">
    <h2>
        <!-- <%= typeof status !="undefined" ? status:'404' %> -->
    </h2>
    <P>
        <%= typeof message !="undefined" ? message:'' %>
    </P>
    <br>
    <a href="/login" class="btn">Try logging in again</a>
</div>