<div class="register-container">

    <h1>EKOGAB BOOKS CENTER</h1>
    <div class="login-form">
        <h3 class="login-header">post picture</h3>
        <form action="/uploads" method="post" enctype="multipart/form-data">

            <div class="form-control">

                <label for="image">Upload image</label>
                <input type="file" name="image" id="image" accept="*" required>
            </div>

            <input type="submit" value="upload">
        </form>

        <img src="/uploads/1646052137239+gabby-logo.JPG" alt="image">

    </div>

</div>