<header>
    <div class="bg">
        <video src="/images/papers-roll.mp4" muted autoplay loop download="off">
        </video>

    </div>
    <div class="overlay">

    </div>
    <div class="banner">

        <div class="hero">

            <h1>EKOGAB BOOKS CENTER</h1>
            <p>We are of opinion that instead of letting books grow moldy behind an iron grating, far from the vulgar
                gaze, it is
                better to let them wear out by being read.”-Jules Verne (French novelist, poet, and playwright)
            </p>
            <a href="/register" class="btn btn-lg">Become a member today &#8594;</a>
        </div>
    </div>

</header>

<!-- <section class="slide">

    <div class="slides">
        <!-- <div class="slide-info">
          <h4>AAAAAAAAAA</h4>
        </div> -->

<!-- <img src="./images/1.png" alt="image one">

</div>

</section>  -->
<!-- <section class="footer">

    <div class="subscribe">
        <p>Subscribe for our monthly news letter</p>
        <form>
            <input type="email" placeholder="enter your email....">
            <input type="submit" value="submit email">
        </form>
    </div>

</section> -->