<div class="login-form">
    <h3 class="login-header">Login</h3>



    <form class="form">
        <div class="form-control">

            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="enter your email...." id="email">
        </div>
        <div class="form-control">

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="enter your password...." id="password">
        </div>

        <input type="submit" value="Login">
    </form>
</div>