<div class="danger">
    <h2>
        <%= typeof status !="undefined" ? status:'404' %>
    </h2>
    <P>
        <%- error.message %>
    </P>
    <p>Sorry, page not found</p><br>
    <a href="/" class="btn">Click to go back Home</a>
</div>