<div class="register-container">

    <h1>EKOGAB BOOKS CENTER</h1>
    <div class="login-form">
        <h3 class="login-header">Register</h3>
        <form action="/register" method="post">
            <div class="form-control">

                <label for="firstName">First Name</label>
                <input type="text" name="firstName" placeholder="enter your first name...." id="firstName" required>
            </div>
            <div class="form-control">

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" placeholder="enter your last name...." id="lastName" required>
            </div>
            <div class="form-control">

                <label for="email">Email</label>
                <input type="email" name="email" placeholder="enter your email...." id="email" required>
            </div>
            <div class="form-control">

                <label for="phone">Phone</label>
                <input type="tel" name="phone" placeholder="enter your phone...." id="phone">
            </div>
            <div class="form-control">

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="enter your password...." id="password" required>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Confirm password...." id="confirmPassword"
                    required>
            </div>


            <div class="check">
                <input type="checkbox" name="terms" required>
                <span>Tick to agree to the Terms and Conditions.</span>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>

</div>